<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo  추가 페이지</title>
</head>
<body>
    <h2>Todo  추가 페이지</h2>
    <form method="get" action="/add">
        <input type="number" name="id" id="id" placeholder="ID를 입력해주세요"><br>
        <input type="text" name="item" id="item" placeholder="내용을 입력해주세요"><br>
        <br>
        <button type="submit" value="Todo 추가"></button>
        <br>
        <a href="/">
            <button type="button" value="취소"></button>
        </a>
    </form>
</body>
</html>