workspace_python/pickle.p
workspace_python/fn/__pycache__/fn_15_1.cpython-314.pyc

workspace_python/todos/01_router/__pycache__/api.cpython-314.pyc
workspace_python/todos/01_router/__pycache__/todo.cpython-314.pyc
workspace_python/todos/quiz_00/__pycache__/quiz1.cpython-314.pyc
workspace_python/todos/quiz_00/__pycache__/quiz2.cpython-314.pyc
workspace_python/todos/quiz_00/__pycache__/quiz3.cpython-314.pyc
workspace_python/todos/pyvenv.cfg
workspace_python/todos/pyvenv.cfg
workspace_python/.vscode/settings.json
workspace_python/todos/05_SQLite/Script-2.sql
workspace_python/03_database/01_SQLite/Script-2.sql
workspace_sql/Script.sql
*.gif
