<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo 추가 페이지</title>
</head>
<body>
    <h1>추가 페이지</h1>
    <div>
        <form method="post" action="/api/add">
            <!-- HTML 안에 넣는 인라인 JS  <input oninput = " JS코드" (by Google Gemini)-->
            <!--  oninput = "this.value = this.value.replace(/[^0-9]/g, '')" -->
            <!-- 텍스트 타입 형태를 유지하면서 숫자가 아닌 글자는 아예 입력조차 안 되게 지워버림  -->
            <input type="text" 
            oninput = "this.value = this.value.replace(/[^0-9]/g, '')" name="id" placeholder="아이디를 입력해주세요"><br>
            <input type="text" name="item" placeholder="내용을 입력해주세요"><br>
            <input type="submit" value="등록">
            <a href="/list">
                <input type="button" value="취소">
            </a>
        </form>
    </div>
</body>
</html>